active
active_sequenced/00_cells/*.jpg
active_sequenced/01_cells/*.jpg
active_sequenced/02_cells/*.jpg
active_sequenced/03_cells/*.jpg
active_sequenced/00_cells/*.xml
active_sequenced/01_cells/*.xml
active_sequenced/02_cells/*.xml
active_sequenced/03_cells/*.xml
m1
m2
gte_units
tools/DerouteSharp/bin
tools/DerouteSharp/obj
tools/DerouteSharp/.vs
tools/patterns/Build/patterns_x86.iobj
*.iobj
*.suo