<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DerouteSharp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
    <runtime>
        <gcAllowVeryLargeObjects enabled="true"/>
    </runtime>
    <userSettings>
        <DerouteSharp.Properties.Settings>
            <setting name="SelectEntitiesAfterAdd" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Grayscale" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Lambda" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="LockScroll0" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LockScroll1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LockScroll2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LockZoom0" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LockZoom1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LockZoom2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HideGrid" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HideLambdaMetrics" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CellTextAlignment" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ViasTextAlignment" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="WireTextAlignment" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="SelectionBoxColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="ViasInputColor" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="ViasOutputColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="ViasInoutColor" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="ViasConnectColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="ViasFloatingColor" serializeAs="String">
                <value>Gray</value>
            </setting>
            <setting name="ViasPowerColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="ViasGroundColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="WireInterconnectColor" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="WirePowerColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="WireGroundColor" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="CellNotColor" serializeAs="String">
                <value>Navy</value>
            </setting>
            <setting name="CellBufferColor" serializeAs="String">
                <value>Navy</value>
            </setting>
            <setting name="CellMuxColor" serializeAs="String">
                <value>DarkOrange</value>
            </setting>
            <setting name="CellLogicColor" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="CellAdderColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="CellBusSuppColor" serializeAs="String">
                <value>DarkViolet</value>
            </setting>
            <setting name="CellFlipFlopColor" serializeAs="String">
                <value>Lime</value>
            </setting>
            <setting name="CellLatchColor" serializeAs="String">
                <value>Cyan</value>
            </setting>
            <setting name="CellOtherColor" serializeAs="String">
                <value>Snow</value>
            </setting>
            <setting name="UnitRegfileColor" serializeAs="String">
                <value>Snow</value>
            </setting>
            <setting name="UnitMemoryColor" serializeAs="String">
                <value>Snow</value>
            </setting>
            <setting name="UnitCustomColor" serializeAs="String">
                <value>Snow</value>
            </setting>
            <setting name="SelectionColor" serializeAs="String">
                <value>LimeGreen</value>
            </setting>
            <setting name="ViasOverrideColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="WireOverrideColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="CellOverrideColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="RegionOverrideColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="ViasPriority" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="WirePriority" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="CellPriority" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="BeaconPriority" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="RegionPriority" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AutoPriority" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ViasOpacity" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="WireOpacity" serializeAs="String">
                <value>128</value>
            </setting>
            <setting name="CellOpacity" serializeAs="String">
                <value>128</value>
            </setting>
            <setting name="ViasBaseSize" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="WireBaseSize" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="ViasShape" serializeAs="String">
                <value>2</value>
            </setting>
        </DerouteSharp.Properties.Settings>
    </userSettings>
</configuration>
