<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DerouteSharp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
    <runtime>
        <gcAllowVeryLargeObjects enabled="true"/>
    </runtime>
    <userSettings>
        <DerouteSharp.Properties.Settings>
            <setting name="SelectEntitiesAfterAdd" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Grayscale" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Lambda" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="LockScroll0" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LockScroll1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LockScroll2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LockZoom0" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LockZoom1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LockZoom2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HideGrid" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HideLambdaMetrics" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CellTextAlignment" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ViasTextAlignment" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="WireTextAlignment" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="SelectionBoxColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="ViasInputColor" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="ViasOutputColor" serializeAs="String">
                <value />
            </setting>
            <setting name="ViasInoutColor" serializeAs="String">
                <value />
            </setting>
            <setting name="ViasConnectColor" serializeAs="String">
                <value />
            </setting>
            <setting name="ViasFloatingColor" serializeAs="String">
                <value />
            </setting>
            <setting name="ViasPowerColor" serializeAs="String">
                <value />
            </setting>
            <setting name="ViasGroundColor" serializeAs="String">
                <value />
            </setting>
        </DerouteSharp.Properties.Settings>
    </userSettings>
</configuration>
