#include <windows.h>
#include "resource.h"

IDR_MYMENU MENU
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "Load Source Image", ID_FILE_LOAD
        MENUITEM "Load Pattern Database", ID_FILE_LOAD_PATTERNS_DB
        MENUITEM "Save Patterns as Image", ID_SAVE_PATIMG
        MENUITEM "Save Patterns as Text", ID_SAVE_PATTXT
        MENUITEM "E&xit", ID_FILE_EXIT
    END

    POPUP "&Workspace"
    BEGIN
        MENUITEM "Load Workspace", ID_WORKSPACE_LOAD
        MENUITEM "Save Workspace", ID_WORKSPACE_SAVE
    END

    POPUP "&Settings"
    BEGIN
        MENUITEM "&Settings", ID_SETTINGS
    END
END

IDI_MYICON ICON "1.ico"

IDD_SETTINGS DIALOG DISCARDABLE  20, 20, 239, 66
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Settings"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON   "&OK",IDOK,174,18,50,14
    PUSHBUTTON      "&Cancel",IDCANCEL,174,35,50,14
    
    LTEXT       "Lambda:" 0, 2, 3, 66, 8
    EDITTEXT    ID_LAMDA, 66, 2, 50, 11, WS_TABSTOP, WS_EX_WINDOWEDGE

    LTEXT       "Lambda Delta:" 0, 2, 3+20, 66, 16
    EDITTEXT    ID_LAMDA_DELTA, 66, 2+20, 50, 11, WS_TABSTOP, WS_EX_WINDOWEDGE
END

IDB_REMOVE BITMAP "remove.bmp"
